body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }

#month-header {
    text-align: center;
}

.button-link {
    text-decoration: none;
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    color: gray;
}

.stats_box {
    width: 250px;
    display: inline-block;
    padding: 10px;
}

#id_stats_section {
    text-align: center;
}

button {
    margin : .35em;
}

#id_line_items {
  width: 85%;
  margin: auto;
}

.currency {
  font-family: 'Roboto Mono', monospace;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

table caption {
    font-size: 1.5em;
    margin: 1.5em 0 .75em;
  }

table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }

table td {
    text-align: center;
  }

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: .625em;
    text-align: center;
    background:#eee
  }
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    table caption {
      font-size: 1.3em;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    table td:before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    table td:last-child {
      border-bottom: 0;
    }
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
/**
The below is taken from https://codepen.io/anon/pen/GymawX
**/
  form header {
    margin: 0 0 20px 0; 
  }
  form header div {
    font-size: 90%;
    color: #999;
  }
  form header h2 {
    margin: 0 0 5px 0;
  }
  form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
  }
  form > div > fieldset > div > div {
    margin: 0 0 5px 0;
  }
  form > div > label,
  legend {
    width: 25%;
    float: left;
    padding-right: 10px;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 75%;
    float: right;
  }
  form > div > fieldset label {
    font-size: 90%;
  }
  fieldset {
    border: 0;
    padding: 0;
  }
  
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea {
    width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password] {
    width: 50%;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=password]:focus,
  textarea:focus {
    outline: 0;
    border-color: #4697e4;
  }
  
  @media (max-width: 600px) {
    form > div {
      margin: 0 0 15px 0; 
    }
    form > div > label,
    legend {
      width: 100%;
      float: none;
      margin: 0 0 5px 0;
    }
    form > div > div,
    form > div > fieldset > div {
      width: 100%;
      float: none;
    }
    input[type=text],
    input[type=email],
    input[type=url],
    input[type=password],
    textarea,
    select {
      width: 100%; 
    }
  }
  @media (min-width: 1200px) {
    form > div > label,
    legend {
      text-align: right;
    }
  }

  input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}