<html>
    <title>pmoney</title>
    <body>
        <h1>{{ month }}</h1>

        <div id="id_line_items">
        <h2>Fixed costs</h2>
        <table id="id_fixed_items">
            
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Credit</th>
                <th>Debit</th>
                <th>Category</th>
                <th>Remaining</th>
            </tr>
            {% for li in fixed_line_items %}
            <tr class="fixed_line_item">
                <td>{{ li.id }}</td>
                <td>{{ li.name }}</td>
                <td>{{ li.credit_amount }}</td>
                <td>{{ li.debit_amount }}</td>
                <td>{{ li.category }}</td>
                <td>Remaining</td>
            </tr>
            {% endfor %}
        </table>
        <h2>Variable costs</h2>
        <table id="id_variable_items">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Credit</th>
                <th>Debit</th>
                <th>Category</th>
                <th>Remaining</th>
            </tr>
            {% for li in variable_line_items %}
            <tr class="variable_line_item">
                <td>{{ li.id }}</td>
                <td>{{ li.name }}</td>
                <td>{{ li.credit_amount }}</td>
                <td>{{ li.debit_amount }}</td>
                <td>{{ li.category }}</td>
                <td>Remaining</td>
            </tr>
            {% endfor %}
        </table>
        </div>

        <div id="id_stats">

        </div>
    </body>
</html>