{% load humanize %} {% load static %}
<html>
<title>pmoney</title>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'budget/style.css' %}" />
    <script src="{% static 'budget/script.js' %}">
    </script>
</head>

<body>
    <div id="month-header">
        <h1>
            <button id="left-navigate" onclick="location.href='{% url 'budget' prev_month prev_year %}'"><</button>
            {{ month }} {{ year }}
            <button id="right-navigate" onclick="location.href='{% url 'budget' next_month next_year %}'" class="button-link">></a>
        </h1>
    </div>

    <div id="id_stats_section">
        <div class="stats_box">
            <h2>Remaining</h2>
            <p style="text-align:center" id="id_remaining">${{ budget.remaining|floatformat:2|intcomma }}</p>
        </div>
        <div class="stats_box">
            <h2>Daily Remaining</h2>
            <p style="text-align:center" id="id_daily_remaining">${{ budget.daily_remaining|floatformat:2|intcomma }}</p>
        </div>
    </div>

    <div id="id_line_items">

        <table id="id_fixed_items" class="cost-section">
            <caption>Fixed costs</caption>
            {% include "cost-section.html" with id="fixed_line_item" costs=budget.fixed_costs %}
        </table>


        <table id="id_variable_items" class="cost-section">
            <caption>Variable costs</caption>
            {% include "cost-section.html" with id="variable_line_item" costs=budget.variable_costs %}
        </table>
        <button id="id_add_item_btn" style="float:right;" onclick="location.href='{% url 'add_item' %}{{ budget.month }}/{{ budget.year }}/'">add item</button>
    </div>

    <div id="id_stats">

    </div>
</body>

</html>