{% load humanize %}
<thead>
        <tr>
            <th scope="col" style="width:50px;"></th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Credit</th>
            <th scope="col">Debit</th>
            <th scope="col">Remaining</th>
            <th scope="col"></th>
        </tr>
    </thead>

    {% for li in costs %}
    <tr class="{{ id }}">
        <td data-label="">{{ forloop.counter }}</td>
        <td data-lable="Date">{{ li.date|date:'D, N d' }}</td>
        <td data-label="Name">{{ li.name }}</td>
        <td data-label="Category">{{ li.category }}</td>
        <td data-label="Credit">${{ li.credit_amount|floatformat:2|intcomma }}</td>
        <td data-label="Debit">${{ li.debit_amount|floatformat:2|intcomma }}</td>
        <td data-label="Remaining">${{ li.remaining|floatformat:2|intcomma }}</td>
        <td data-label="">
            <button onclick="location.href='{% url 'edit_item' li.id %}'">edit</button>
            <form method="post" style="display:inline-block;" action="{% url 'delete_item' %}">{% csrf_token %}
                <input type="hidden" name="id" value="{{ li.id }}" />
                <input type="hidden" name="month" value="{{ budget.month }}" />
                <input type="hidden" name="year" value="{{ budget.year }}" />
                <button type="submit">delete</button>
            </form></td>
    </tr>
    {% endfor %}