{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'budget/style.css' %}" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <h1>{% block header %}{% endblock %}</h1>

    <form action="{{request.path}}" method="POST">{% csrf_token %}

        <header>
            <h2>{{ line_item.name }}</h2>
        </header>

        <div>
            <label class="desc" id="name-title" for="name">Name</label>
            <div>
                <input id="name-field" name="name" type="text" class="field text fn" value="" size="8" tabindex="1"
                placeholder="{{ line_item.name }}">
            </div>
        </div>

        <div>
            <label class="desc" id="category-title" for="category">Category</label>
            <div>
                <input id="category-field" name="category" type="text" class="field text fn" value="" size="8" tabindex="1"
                placeholder="{{ line_item.category }}">
            </div>
        </div>

        <div>
            <label class="desc" id="credit-title" for="credit">Credit Amount</label>
            <div>
                <input id="credit-field" name="credit" type="number" step="0.01" class="field text fn" value="" size="8" tabindex="1"
                placeholder="{{ line_item.credit_amount }}">
            </div>
        </div>

        <div>
                <label class="desc" id="debit-title" for="debit">Debit Amount</label>
                <div>
                    <input id="debit-field" name="debit" type="number" step="0.01" class="field text fn" value="" size="8" tabindex="1"
                    placeholder="{{ line_item.debit_amount }}">
                </div>
            </div>

        <div>
            <label class="desc" id="date-title" for="date">Date</label>
            <div>
                <input id="date-field" name="date" type="date" class="field text fn" value="" size="8" tabindex="1">
            </div>
        </div>

        <div>
            <div>
                <input id="saveForm" name="saveForm" type="submit" value="Submit">
            </div>
        </div>

    </form>

</body>

</html>